<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>This is our home Page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos saepe animi asperiores. Recusandae, 
            atque nulla quaerat saepe rem ea magni quod quasi architecto repudiandae doloremque provident sequi,
            at voluptas aspernatur.</p>

            <button>contact us</button>
            <!--Accessing dyanmic values-->
            <h1>Todays date : {{date}}</h1>
    </div>
</body>
</html>